<a href="https://colab.research.google.com/github/Hibret5/data-science-task/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1
 A list is an ordered collection of items that can hold elements of different types (integers, strings, other lists, etc.).

üîπ Features:
Ordered
Mutable (can be changed)
Can contain mixed data types

example:
my_list = [1, 2, 3, 'apple', True]


A dictionary stores data in key-value pairs.

üîπ Features:
Unordered (in older Python versions), but ordered as of Python 3.7+
Mutable
Keys must be unique and immutable

example:
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}


A NumPy array is a fixed-type, grid-like structure used for numerical operations.

üîπ Features:
Homogeneous (all elements must be the same type)
Very efficient for numerical computations
Supports vectorized operations

example:
import numpy as np
my_array = np.array([1, 2, 3, 4, 5])
**bold text**

In [1]:
#2
def square_even_numbers(numbers):
    return [num ** 2 for num in numbers if num % 2 == 0]

# Test it with your list
my_list = [10, 15, 20, 25, 30]
result = square_even_numbers(my_list)
print(result)

[100, 400, 900]

In [2]:
#3
x = [1, 2, 3]
y = x
y.append(4)
print(x)

# Because lists are mutable, and assigning y = x doesn't create a new list ‚Äî both x and y refer to the same object.

[1, 2, 3, 4]

#4
.shape
Returns a tuple indicating the number of rows and columns in the DataFrame.

.describe()
Gives you summary statistics of the DataFrame's numeric columns by default:

count
mean
std (standard deviation)
min, max
25%, 50%, 75% (quartiles)

example:
import pandas as pd

# Sample DataFrame
data = {
    'age': [25, 30, 35, 40, 45],
    'salary': [50000, 60000, 65000, 70000, 80000]
}

df = pd.DataFrame(data)

# Using .shape
print("Shape of DataFrame:", df.shape)

# Using .describe()
print("\nSummary Statistics:\n", df.describe())

In [ ]:
#5
# Step 1: Import pandas
import pandas as pd

# Step 2: Load the CSV
df = pd.read_csv('airtravel.csv')

# Step 3: Clean up the column names
df.columns = df.columns.str.strip().str.replace('"', '')

# Step 4: Show first 5 rows
print("First 5 Rows:")
print(df.head())

# Step 5: Convert to long format for better plotting/analysis
df_long = pd.melt(df, id_vars=['Month'], var_name='Year', value_name='Passengers')

print("\nReshaped Data:")
print(df_long.head())

# (Optional) Step 6: Plot the data
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
sns.lineplot(data=df_long, x='Month', y='Passengers', hue='Year', marker='o')
plt.title('Monthly Air Travel (1958‚Äì1960)')
plt.ylabel('Number of Passengers')
plt.grid(True)
plt.show()

In [ ]:
#6
import pandas as pd
# Load and clean the CSV
df = pd.read_csv('airtravel.csv')
df.columns = df.columns.str.strip().str.replace('"', '')  # Clean column names

#The month with the highest total passengers
# Add a column for total passengers across all years
df['Total'] = df[['1958', '1959', '1960']].sum(axis=1)

# Find the row with the maximum total
max_month = df.loc[df['Total'].idxmax(), 'Month']
print("üìà Month with highest total passengers:", max_month)

#The month with the lowest in 1958
# Find the row with the minimum value in 1958
min_month_1958 = df.loc[df['1958'].idxmin(), 'Month']
print("üìâ Month with lowest passengers in 1958:", min_month_1958)

#7
What .groupby() Does:
It splits the data into groups ‚Üí applies a function ‚Üí combines the result.

Split ‚û°Ô∏è Apply ‚û°Ô∏è Combine
example:
Lets say we have a DataFrame of sales made by different employees in different departments:

import pandas as pd

# Dummy sales data
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Sales', 'Sales', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Sales': [200, 150, 300, 250, 400, 500, 450]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Group by department and sum the sales
grouped = df.groupby('Department')['Sales'].sum()

print("\nTotal Sales by Department:")
print(grouped)

In [ ]:
#8
import seaborn as sns
import pandas as pd

# Load Titanic dataset from seaborn
titanic = sns.load_dataset('titanic')

# Count missing values per column
missing_values = titanic.isnull().sum()

print("Missing values in each column:")
print(missing_values)

In [ ]:
#9
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

# Load dataset
df = sns.load_dataset('titanic')

# Plot histogram for Age
df['age'].hist(bins=30, edgecolor='black')
plt.title('Age Distribution of Titanic Passengers')
plt.xlabel('Age')
plt.ylabel('Count')
plt.grid(False)
plt.show()

# What Shape Do You See?
#You‚Äôll likely see a right-skewed (positively skewed) distribution:
#-A peak around 20‚Äì30 years old
#-A long tail extending toward older ages (60‚Äì80+)
#What Might Be the Reason for the Skew?
#1 Fewer Older Passengers
#The ship likely had more young adults
#and families, fewer elderly.

#2 Children Are Present but Fewer in Number
#There's a small bump on the left (for
#children), but it's not huge.

#3 Socioeconomic Factors
#Younger adults might have been more
#likely to travel for work or migration.

#4 Survivorship Bias / Missing Data
#Some ages are missing (NaN), and this
#could affect the distribution if not
#handled.

In [ ]:
#10
import pandas as pd

# Create a DataFrame with two columns
data = {
    'low_std': [50, 51, 49, 50, 50, 51, 49],
    'high_std': [10, 90, 5, 95, 50, 85, 15]
}

df = pd.DataFrame(data)

# Calculate standard deviation
std_values = df.std()

print("Standard Deviations:")
print(std_values)

# What Does a High Standard Deviation Mean?
#-Standard Deviation (std) measures how spread out the values in a dataset are.
#-A high std dev means the values vary a lot from the mean.
#-A low std dev means the values are close to the mean (less variation).

#11
1. Healthcare / Medical Records
Scenario: You're building a model to predict patient risk (e.g., heart disease or diabetes) using health records.

Potential Missing Data:
Missing blood pressure or cholesterol levels
Missing diagnosis dates or medication history

Why It Matters:
Important risk factors could be underestimated.
You might incorrectly classify a patient as ‚Äúlow risk‚Äù when they‚Äôre not.

Models trained on incomplete data may bias results toward patients with more complete records (e.g., those who visit the doctor more often).

2. Housing Price Prediction
Scenario: You‚Äôre predicting house prices using features like size, location, age, number of rooms, and amenities.
Potential Missing Data:
Missing values for lot size, number of bathrooms, or year built

Why It Matters:
A missing value on a key feature (e.g., number of rooms) can lead to:
Poor predictions
Incorrect feature importance rankings
Skewed data can hurt business decisions (e.g., undervaluing a property)  

examples:
1. Missing data can lead to biased models, wrong conclusions, or missed opportunities.

2. Its crucial to handle missing values carefully ‚Äî imputation, removal, or flagging may be needed.